body{
	background-color: black;
	color: white;
	font-family: sans-serif;
}
#titulo{
	text-align:center;
}
#corpo{
	border: 2px solid white;
	padding: 2%;
	margin: 20px auto;
	text-align:center;
}
#rodape{
	border: 2px solid white;
	text-align: center;
}
#palavra{
	background-color: gray;
	font-size: 16px;
	padding-left: 10px;
	color: white;
	width: 360px;
	height: 30px;
}
#btnPalavra{
	background-color: gray;
	font-size: 16px;
	text-align: center;
	color: white;
	width: 60px;
	height: 30px;
}
a{
	text-style: none;
	color: white;
}